body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

  background-image: url('../assets/backgrounds/general.jpg');
  background-size: cover; /* Ensures the image covers the whole page */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
}

img {
  -webkit-user-drag: none;  /* Prevent image from being dragged */
  user-select: none; /* Prevent image from being selected */
}


.end {
  position: fixed;  /* Fixes the element in place */
  height: 25vw;
  max-height: 7%;
  min-height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white; /* Optional: text color */
  text-align: center; /* Optional: center text */
}

.contact-section {
    /* background-color: #2c3e50; Restored background color for contact section */
    color: white;
    padding: 1vh 1vh;
  }
  
  .contact-section h2 {
    /* margin-bottom: 30px; Increased margin for more space between heading and content */
    font-size: 2rem; /* Larger font size for heading */
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    gap: 40px; /* Increased gap for more space between icons */
    /* margin-top: 10px; Added space above the contact links */
  }
  
  .contact-item {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 150%; 
  }

  
  .contact-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  footer {
    text-align: center;
    color: white;
  }
  
  
  /* used ub AnA actual icon logos*/
  .icon-size {
    width: 40px;  /* Maximum width */
    height: auto;      /* Keep the aspect ratio intact */
    vertical-align: middle; /* Aligns the image vertically in the middle of the text */

    background: rgba(255, 248, 248, 0.6);
    border-radius: 20px;
  }

  /* Further reducing font size for even smaller screens (like phones) */
@media (max-width: 480px) {
  .icon-size {
      width: 25px; /* Further reduced font size for very small screens */
  }
}