# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails
._*

# macOS folder attributes
.Spotlight-V100
.Trashes

# Disk images
*.dmg

# macOS metadata files
*.DS_Store
