.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon?
*.dmg

node_modules/
package-lock.json
*.log
.wrangler/
.dev.vars

server.js
explore/server.js
explore/package.json
explore/wrangler.toml

assets/font-awesome-4.7.0/
assets/webfonts/

README.md