@keyframes powerOff {
    0% {
      opacity: 1;
      transform: scaleY(1);
      filter: brightness(100%) contrast(100%);
    }
    100% {
      opacity: 0;
      transform: scaleY(0.05);
      filter: brightness(300%) contrast(1000%);
    }
  }
  
  @keyframes powerOn {
    0% {
      opacity: 0;
      transform: scaleY(0.1);
      filter: brightness(300%) contrast(500%);
    }
    20% {
      opacity: 1;
      transform: scaleY(1.05);
    }
    40% {
      transform: scaleY(0.95);
    }
    60% {
      transform: scaleY(1.02);
    }
    80% {
      transform: scaleY(0.98);
    }
    100% {
      transform: scaleY(1);
      filter: brightness(100%) contrast(100%);
    }
  }
  
  #power-on-overlay,
  #power-off-overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
  }
  
  #power-off-overlay {
    animation: powerOn .6s ease-out forwards;
  }
  
  #power-on-overlay {
    animation: powerOff 0.5s ease-in forwards;
  }
  